.quick-view .overlay-panel .advanced-item:hover > .remove-btn,
.quick-view .overlay-panel:hover > .switch-button {
  display: none !important;
}

#appdiv:not(.buildMode) .overlay-panel .advanced-item:hover > .remove-btn {
  display: none !important;
}

.overlay-panel > .worksheet > .grid-stack {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.overlay-panel > .worksheet > .grid-stack .base {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
}
.overlay-panel > .worksheet > .grid-stack .left-panel,
.overlay-panel > .worksheet > .grid-stack .right-panel {
  position: absolute !important;
  z-index: 10 !important;
}
.overlay-panel > .worksheet > .grid-stack .left-panel.bottom,
.overlay-panel > .worksheet > .grid-stack .right-panel.bottom {
  bottom: 0;
  display: block;
}
.overlay-panel > .worksheet > .grid-stack .left-panel.top,
.overlay-panel > .worksheet > .grid-stack .right-panel.top {
  top: 0;
  display: block;
}
.overlay-panel > .worksheet > .grid-stack .right-panel {
  right: 0;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item {
  box-sizing: border-box;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.placeholder {
  height: 100%;
  width: 100%;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item .drop-show {
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  text-align: center;
  vertical-align: middle;
  background: #00aeff;
  opacity: 0.3;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.highlight .drop-show {
  display: block;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.left-panel, .overlay-panel > .worksheet > .grid-stack > .advanced-item.right-panel {
  order: 1;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.left-panel > .grid-stack-item-content, .overlay-panel > .worksheet > .grid-stack > .advanced-item.right-panel > .grid-stack-item-content {
  position: relative;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.left-panel > .grid-stack-item-content:empty, .overlay-panel > .worksheet > .grid-stack > .advanced-item.right-panel > .grid-stack-item-content:empty {
  display: none;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.left-panel > .grid-stack-item-content > .component-build-view > .border-div, .overlay-panel > .worksheet > .grid-stack > .advanced-item.right-panel > .grid-stack-item-content > .component-build-view > .border-div {
  position: relative;
  display: flex;
  flex-direction: column;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.left-panel > .grid-stack-item-content > .component-build-view > .border-div > .title-div, .overlay-panel > .worksheet > .grid-stack > .advanced-item.right-panel > .grid-stack-item-content > .component-build-view > .border-div > .title-div {
  order: 1;
  flex: none;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.left-panel > .grid-stack-item-content > .component-build-view > .border-div > .app-div, .overlay-panel > .worksheet > .grid-stack > .advanced-item.right-panel > .grid-stack-item-content > .component-build-view > .border-div > .app-div {
  position: relative !important;
  order: 2;
  flex: auto;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.left-panel > .grid-stack-item-content > .component-build-view > .border-div > .app-div > .query-builder, .overlay-panel > .worksheet > .grid-stack > .advanced-item.right-panel > .grid-stack-item-content > .component-build-view > .border-div > .app-div > .query-builder {
  position: relative !important;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.base {
  order: 2;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.base > .grid-stack-item-content {
  position: relative;
  height: 100%;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.placeholder {
  background: #00aeff;
  opacity: 0.3;
  pointer-events: none;
  display: none;
}
.overlay-panel .worksheet > .grid-stack > .advanced-item.left-panel, .overlay-panel .worksheet > .grid-stack > .advanced-item.right-panel {
  flex: none;
}
.overlay-panel .worksheet > .grid-stack > .advanced-item.left-panel > .grid-stack-item-content > .component-build-view > .border-div > .app-div, .overlay-panel .worksheet > .grid-stack > .advanced-item.right-panel > .grid-stack-item-content > .component-build-view > .border-div > .app-div {
  width: 100%;
}
.overlay-panel .worksheet > .grid-stack > .advanced-item.base {
  flex: auto;
}
.overlay-panel > .switch-button {
  pointer-events: all;
  background: transparent;
  border-color: transparent;
  display: none;
}
.overlay-panel:hover > .switch-button.enabled {
  display: block;
}

.overlay-panel .grid-stack .grid-stack > .advanced-item:hover > .remove-btn {
  right: 13px;
}

.overlay-panel .grid-stack .grid-stack .grid-stack > .advanced-item:hover > .remove-btn {
  right: 20px;
}

.overlay-panel > .configure-widgets {
  display: none;
}
.overlay-panel > .configure-widgets > .show-configure-menu {
  border-radius: 0 0 4px 4px;
  border-top: none;
  display: inline-block;
  padding: 6px 10px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 50px;
  white-space: nowrap;
  z-index: 2;
}
.overlay-panel > .configure-widgets > .show-configure-menu > * {
  opacity: 0.8;
}
.overlay-panel > .configure-widgets > .show-configure-menu:hover > * {
  opacity: 1;
}
.overlay-panel > .configure-widgets > .show-configure-menu .fa-caret-down {
  transition: transform 0.2s;
}
.overlay-panel > .configure-widgets > .configure-widgets-menu {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  z-index: 3;
}
.overlay-panel > .configure-widgets > .configure-widgets-menu li:not(.ui-menu-divider) {
  padding: 7px;
}
.overlay-panel > .configure-widgets.showing-menu > .show-configure-menu > * {
  opacity: 1;
}
.overlay-panel > .configure-widgets.showing-menu > .show-configure-menu .fa-caret-down {
  transform: rotate(180deg);
}
.overlay-panel > .configure-widgets.showing-menu > .configure-widgets-menu {
  display: block;
}
.overlay-panel > .worksheet > .grid-stack.build-off {
  background-color: transparent;
  transition: none;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item {
  background: transparent;
  min-height: 0px;
  position: relative;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item.placeholder {
  height: 100%;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .remove-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 1.3em;
  color: #b2b2b2;
  cursor: pointer;
  display: none;
  z-index: 9;
  text-shadow: -1px -1px 0 #101010, 1px -1px 0 #101010, -1px 1px 0 #101010, 1px 1px 0 #101010;
}
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .remove-btn:hover {
  color: #1eb8ff;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item,
.overlay-panel > .worksheet > .grid-stack > .advanced-item {
  box-sizing: border-box;
  z-index: 1;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item.build-off,
.overlay-panel > .worksheet > .grid-stack > .advanced-item.build-off {
  /*border: none !important;*/
  background-color: transparent;
  transition: none;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item.build-off::before,
.overlay-panel > .worksheet > .grid-stack > .advanced-item.build-off::before {
  border: none !important;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item.build-off .grid-stack-item-content .component-build-view,
.overlay-panel > .worksheet > .grid-stack > .advanced-item.build-off .grid-stack-item-content .component-build-view {
  pointer-events: all;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item.build-off > .remove-btn,
.overlay-panel > .worksheet > .grid-stack > .advanced-item.build-off > .remove-btn {
  display: none !important;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item.selected:not(.build-off),
.overlay-panel > .worksheet > .grid-stack > .advanced-item.selected:not(.build-off) {
  z-index: 5;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item.selected:not(.build-off)::before,
.overlay-panel > .worksheet > .grid-stack > .advanced-item.selected:not(.build-off)::before {
  content: " ";
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px solid #1eb8ff;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item.selected:not(.build-off):hover > .ui-resizable-se,
.overlay-panel > .worksheet > .grid-stack > .advanced-item.selected:not(.build-off):hover > .ui-resizable-se {
  display: block !important;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item.selected:not(.build-off):hover > .remove-btn,
.overlay-panel > .worksheet > .grid-stack > .advanced-item.selected:not(.build-off):hover > .remove-btn {
  display: block;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item > .ui-resizable-se,
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .ui-resizable-se {
  display: none !important;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item > .grid-stack-item-content,
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .grid-stack-item-content {
  pointer-events: auto; /* needed for gridstack drag */
  z-index: 0;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item > .grid-stack-item-content .component-build-view,
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .grid-stack-item-content .component-build-view {
  pointer-events: none;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item > .grid-stack-item-content .component-build-view .app-div.overlay-panel,
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .grid-stack-item-content .component-build-view .app-div.overlay-panel {
  pointer-events: auto;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item > .grid-stack-item-content,
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item > .placeholder-content,
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .grid-stack-item-content,
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .placeholder-content {
  left: 0px;
  right: 0px;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item > .remove-btn,
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .remove-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 1.3em;
  color: #b2b2b2;
  cursor: pointer;
  display: none;
  z-index: 9;
  text-shadow: -1px -1px 0 #101010, 1px -1px 0 #101010, -1px 1px 0 #101010, 1px 1px 0 #101010;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item > .remove-btn:hover,
.overlay-panel > .worksheet > .grid-stack > .advanced-item > .remove-btn:hover {
  color: #1eb8ff;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item .ui-resizable-se,
.overlay-panel > .worksheet > .grid-stack > .advanced-item .ui-resizable-se {
  width: 10px;
  height: 10px;
  bottom: 6px;
  right: 6px;
  cursor: se-resize;
  z-index: 20;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  background: transparent;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item .ui-resizable-se::before,
.overlay-panel > .worksheet > .grid-stack > .advanced-item .ui-resizable-se::before {
  content: " ";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 4px;
  height: 4px;
  border: 4px solid #b2b2b2;
  border-bottom-width: 0;
  border-left-width: 0;
}
.overlay-panel > .worksheet > .grid-stack > .grid-stack-item .ui-resizable-se:hover::before,
.overlay-panel > .worksheet > .grid-stack > .advanced-item .ui-resizable-se:hover::before {
  border-color: #1eb8ff;
}
.overlay-panel > .worksheet > .grid-stack .grid-stack-placeholder {
  -webkit-transition: left 0.3s, top 0.3s, height 0.3s, width 0.3s;
  -moz-transition: left 0.3s, top 0.3s, height 0.3s, width 0.3s;
  -ms-transition: left 0.3s, top 0.3s, height 0.3s, width 0.3s;
  -o-transition: left 0.3s, top 0.3s, height 0.3s, width 0.3s;
  transition: left 0.3s, top 0.3s, height 0.3s, width 0.3s;
  z-index: 0;
}
.overlay-panel .worksheet-highlight-item.now-over,
.overlay-panel .row-highlight-item,
.overlay-panel .highlight-item {
  background-color: #484848 !important;
  border: 1px dashed #606060 !important;
}
.overlay-panel .highlight-viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}
.overlay-panel .highlight-viewport .highlight-layer {
  position: relative;
}
.overlay-panel .highlight-viewport .highlight-layer .highlight-item {
  position: absolute;
  background-color: rgb(173, 199, 247);
  display: none;
}
.overlay-panel .row-highlight-item {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 12px;
  background-color: green;
  border: 1px dashed #1eb8ff !important;
  z-index: 99;
  pointer-events: none;
  display: none;
}
.overlay-panel .worksheet-highlight-item {
  background-color: transparent;
  display: none;
  pointer-events: none;
}
.overlay-panel .worksheet-highlight-item.now-over {
  background-color: green;
}
.overlay-panel > .worksheet {
  pointer-events: auto;
  z-index: -1;
}
.overlay-panel .visual-indicator-left {
  position: absolute;
  display: none;
  background: #00aeff;
  opacity: 0.3;
  pointer-events: none;
  z-index: 99;
}
.overlay-panel .visual-indicator-left.top {
  left: 0;
  top: 0;
  display: block;
}
.overlay-panel .visual-indicator-left.bottom {
  left: 0;
  bottom: 0;
  display: block;
}
.overlay-panel .visual-indicator-right {
  position: absolute;
  display: none;
  background: #00aeff;
  opacity: 0.3;
  pointer-events: none;
  z-index: 99;
}
.overlay-panel .visual-indicator-right.top {
  right: 0;
  top: 0;
  display: block;
}
.overlay-panel .visual-indicator-right.bottom {
  right: 0;
  bottom: 0;
  display: block;
}

.quick-view .no-widgets-info,
.quick-view .worksheet-highlight-item {
  display: none;
}
.quick-view.buildMode .overlay-panel.user-configurable > .configure-widgets {
  display: block;
}
.quick-view.buildMode .overlay-panel.user-configurable > .configure-widgets:not(.widgets-available) .configure-widgets-menu .ui-widget-header,
.quick-view.buildMode .overlay-panel.user-configurable > .configure-widgets:not(.widgets-available) .configure-widgets-menu .ui-menu-divider {
  display: none;
}
.quick-view.buildMode .overlay-panel.user-configurable > .worksheet > .grid-stack > .grid-stack-item > .grid-stack-item-content {
  pointer-events: auto;
}
.quick-view.buildMode .overlay-panel.user-configurable > .worksheet > .grid-stack > .grid-stack-item > .grid-stack-item-content > .component-build-view {
  pointer-events: none;
}
.quick-view.buildMode .overlay-panel:not(.user-configurable) > .worksheet > .grid-stack > .grid-stack-item:not([data-componentid=Panel]) {
  opacity: 0.4;
  pointer-events: none;
}

.quick-dash.buildMode .overlay-panel > .worksheet > .grid-stack > .advanced-item > .grid-stack-item-content > .component-build-view {
  pointer-events: auto;
}

.quick-dash:not(.buildMode) .overlay-panel .no-widgets-info,
.quick-dash:not(.buildMode) .overlay-panel .worksheet-highlight-item {
  display: none;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFwcC5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQWlCQTtBQUFBO0VBRUk7OztBQUdKO0VBQ0k7OztBQUlBO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0k7RUFDQTtFQUNBOztBQUdKO0FBQUE7RUFFSTtFQUNBOztBQUVBO0FBQUE7RUFHSTtFQUNBOztBQUdKO0FBQUE7RUFHSTtFQUNBOztBQUlSO0VBQ0k7O0FBR0o7RUFDSTs7QUFFQTtFQUNJO0VBQ0E7O0FBR0o7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBSUE7RUFDSTs7QUFJUjtFQUVJOztBQUVBO0VBQ0k7O0FBRUE7RUFDSTs7QUFJQTtFQUNJO0VBQ0E7RUFDQTs7QUFFQTtFQUNJO0VBQ0E7O0FBR0o7RUFFSTtFQUNBO0VBQ0E7RUFFQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNJOztBQVF4QjtFQUNJOztBQUVBO0VBQ0k7RUFDQTs7QUFJUjtFQUNJO0VBQ0E7RUFDQTtFQUNBOztBQVNKO0VBRUk7O0FBT1k7RUFFSTs7QUFPcEI7RUFDSTs7QUFLWjtFQUNJO0VBQ0E7RUFDQTtFQUNBOztBQUlBO0VBQ0k7OztBQU9KO0VBQ0k7OztBQU9KO0VBQ0k7OztBQU1SO0VBQ0k7O0FBRUE7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNJOztBQUdKO0VBQ0k7O0FBR0o7RUFDSTs7QUFJUjtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNJOztBQU1BO0VBQ0k7O0FBR0o7RUFDSTs7QUFJUjtFQUNJOztBQU1SO0VBQ0k7RUFDQTs7QUFHSjtFQUNJO0VBQ0E7RUFDQTs7QUFFQTtFQUNJOztBQUdKO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUdBO0VBQ0ksT0EzU087O0FBZ1RuQjtBQUFBO0VBRUk7RUFDQTs7QUFFQTtBQUFBO0FBQ0k7RUFDQTtFQUNBOztBQUVBO0FBQUE7RUFDSTs7QUFJQTtBQUFBO0VBQ0k7O0FBSVI7QUFBQTtFQUNJOztBQUlSO0FBQUE7RUFDSTs7QUFFQTtBQUFBO0VBelVaO0VBQ0E7RUFFQTtFQUVBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQSxRQWdVZ0I7O0FBSUE7QUFBQTtFQUNJOztBQUdKO0FBQUE7RUFDSTs7QUFLWjtBQUFBO0VBQ0k7O0FBR0o7QUFBQTtFQUNJO0VBQ0E7O0FBRUE7QUFBQTtFQUNJOztBQUVBO0FBQUE7RUFDSTs7QUFLWjtBQUFBO0FBQUE7QUFBQTtFQUVJO0VBQ0E7O0FBR0o7QUFBQTtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFHQTtBQUFBO0VBQ0ksT0EvWE87O0FBbVlmO0FBQUE7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtBQUFBO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUlBO0FBQUE7RUFDSSxjQWhhRzs7QUFzYW5CO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUlSO0FBQUE7QUFBQTtFQUlJO0VBQ0E7O0FBR0o7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNJOztBQUVBO0VBQ0k7RUFDQTtFQUNBOztBQUtaO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUdKO0VBQ0k7RUFDQTtFQUNBOztBQUVBO0VBQ0k7O0FBSVI7RUFDSTtFQUNBOztBQUdKO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0k7RUFDQTtFQUNBOztBQUdKO0VBQ0k7RUFDQTtFQUNBOztBQUlSO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0k7RUFDQTtFQUNBOztBQUdKO0VBQ0k7RUFDQTtFQUNBOzs7QUFNUjtBQUFBO0VBRUk7O0FBTVE7RUFDSTs7QUFJUTtBQUFBO0VBRUk7O0FBV0o7RUFDSTs7QUFFQTtFQUNJOztBQVVoQjtFQUNJO0VBQ0E7OztBQWFKO0VBQ0k7OztBQVNwQjtBQUFBO0VBRUkiLCJmaWxlIjoiYXBwLmNzcyJ9 */
