.ChartGL {
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
}
.ChartGL .fa-rotate--45 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ChartGL.annotations-dialog {
  position: relative;
}
.ChartGL.annotations-dialog fieldset legend:not(:empty) {
  padding: 0.5em;
}
.ChartGL.annotations-dialog fieldset .pnlNew {
  width: 100%;
  padding: 0.5em;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: initial;
}
.ChartGL.annotations-dialog fieldset .pnlNew label {
  width: 90px;
}
.ChartGL.annotations-dialog fieldset .pnlNew select {
  margin-left: 15px;
  flex-grow: 1;
}
.ChartGL.annotations-dialog fieldset .pnlNew select:hover {
  border: 1px solid #00aeff;
}
.ChartGL.annotations-dialog fieldset .pnlNew .fa.watermark.fa-tint {
  top: 4px;
  padding: 4px 0;
}
.ChartGL.annotations-dialog fieldset .pnlNew .annotate-color-btn {
  flex-grow: 1;
  text-align: left;
}
.ChartGL.annotations-dialog fieldset .pnlNew .annotate-color-btn:hover {
  border: 1px solid #00aeff;
}
.ChartGL.annotations-dialog fieldset .delete-all-div {
  padding: 0 0.5em 2px 0.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}
.ChartGL.annotations-dialog fieldset .delete-all-btn i {
  padding: 0 3px;
}
.ChartGL.annotations-dialog fieldset .delete-all-btn:hover {
  color: #48C2FA;
  cursor: pointer;
}
.ChartGL.annotations-dialog fieldset .edit-icon {
  margin-right: 3px;
}
.ChartGL.annotations-dialog fieldset table thead {
  text-align: left;
  border: 1px solid #222222;
}
.ChartGL.annotations-dialog fieldset table th {
  font-weight: normal;
  border-right: 1px solid #222222;
}
.ChartGL.annotations-dialog fieldset table td, .ChartGL.annotations-dialog fieldset table th {
  padding: 5px;
}
.ChartGL.annotations-dialog fieldset table .th-color {
  padding-left: 20px;
}
.ChartGL.annotations-dialog fieldset table td {
  border: 1px solid #222222;
}
.ChartGL.annotations-dialog fieldset table td input:hover, .ChartGL.annotations-dialog fieldset table td .annotate-del-btn:hover, .ChartGL.annotations-dialog fieldset table td .annotate-edit-btn:hover {
  border: 1px solid #00aeff;
}
.ChartGL.annotations-dialog fieldset table td .annotate-del-btn, .ChartGL.annotations-dialog fieldset table td .annotate-edit-btn {
  margin-left: 5px;
  padding: 1px 6px;
}
.ChartGL.edit-text-annotation-dialog {
  position: relative;
}
.ChartGL.edit-text-annotation-dialog .edit-prop {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.ChartGL.edit-text-annotation-dialog .edit-prop-chkbox {
  padding: 0.5em;
  box-sizing: border-box;
  display: inline-flex;
}
.ChartGL.edit-text-annotation-dialog label {
  width: 90px;
  vertical-align: middle;
}
.ChartGL.edit-text-annotation-dialog textarea {
  resize: none;
}
.ChartGL.edit-text-annotation-dialog textarea:hover, .ChartGL.edit-text-annotation-dialog select:hover, .ChartGL.edit-text-annotation-dialog input:hover, .ChartGL.edit-text-annotation-dialog .annotate-color-btn:hover {
  border: 1px solid #00aeff;
}
.ChartGL.edit-text-annotation-dialog .fa.watermark.fa-tint {
  top: 4px;
  padding: 4px 0;
}
.ChartGL.edit-text-annotation-dialog .annotate-color-btn {
  text-align: left;
}
.ChartGL.edit-text-annotation-dialog textarea, .ChartGL.edit-text-annotation-dialog input, .ChartGL.edit-text-annotation-dialog select, .ChartGL.edit-text-annotation-dialog .annotate-color-btn {
  flex-grow: 1;
}
.ChartGL .xCoord,
.ChartGL .yCoord {
  font-size: 11px;
}
.ChartGL .legend-div {
  position: absolute;
  bottom: 0;
  height: 16px;
}
.ChartGL .legend-div.standard-legend {
  width: calc(100% - 170px);
}
.ChartGL .legend-div.grouped-legend {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: auto;
  max-width: fit-content;
  min-width: fit-content;
  display: inline-block;
}
.ChartGL .legend-div.grouped-legend .jstree-themeicon-custom {
  background-size: 12px !important;
}
.ChartGL .draw-div {
  position: absolute;
  bottom: 0;
  height: 16px;
  width: 50px;
  right: 100px;
}
.ChartGL .chartGLAnnotateControl .link-disabled {
  display: none !important;
}
.ChartGL .chartGLAnnotateControl .ui-draw-mode-on {
  color: #00aeff;
}
.ChartGL .chartGLAnnotateControl .lnksAnnotate {
  text-align: right;
  display: block;
  padding-right: 10px;
}
.ChartGL .chartGLAnnotateControl .lnksAnnotate .btn-annotate {
  margin-left: 1px;
  margin-right: 1px;
}
.ChartGL .chartGLAnnotateControl .lnksAnnotate .btn-disabled {
  opacity: 0.35;
  cursor: default !important;
}
.ChartGL .chartGLAnnotateControl .lnkAnnotate:hover,
.ChartGL .chartGLAnnotateControl .lnkEditAnnotate:hover,
.ChartGL .chartGLAnnotateControl .lnkUndoAnnotate:hover:not(.btn-disabled),
.ChartGL .chartGLAnnotateControl .lnkRedoAnnotate:hover:not(.btn-disabled) {
  color: #48c2fa;
  cursor: pointer;
}
.ChartGL .export-div {
  position: absolute;
  bottom: 0;
  height: 16px;
  width: 100px;
  right: 0;
}
.ChartGL .chartGLExportButtons .link-disabled {
  display: none !important;
}
.ChartGL .chartGLExportButtons .lnksExport {
  text-align: right;
  display: block;
  padding-right: 10px;
}
.ChartGL .chartGLExportButtons span.lnksExport a:not(.link-disabled) ~ a:not(.link-disabled):before {
  display: inline-block;
  content: " | ";
  padding: 0 0.2em 0 0.1em;
}
.ChartGL .chartGLExportButtons .lnkExcelExport:hover,
.ChartGL .chartGLExportButtons .lnkPngExport:hover,
.ChartGL .chartGLExportButtons .lnkCsvExport:hover {
  color: #48c2fa;
  cursor: pointer;
}
.ChartGL .GL-highlight-rule {
  position: absolute;
}
.ChartGL .top-bottom,
.ChartGL .GL-highlight-rule {
  display: flex;
  text-align: center;
}
.ChartGL .top-bottom li,
.ChartGL .GL-highlight-rule li {
  display: inline-flex;
}
.ChartGL .link-hide {
  display: none;
}
.ChartGL .legend-div.right,
.ChartGL .draw-div.right,
.ChartGL .export-div.right,
.ChartGL .legend-div.right .chartgl-legend {
  right: 0;
}
.ChartGL .legend-div,
.ChartGL .GL-highlight-rule {
  justify-content: center;
  bottom: 0;
  font-size: 12px;
  white-space: normal;
}
.ChartGL .legend-div ul,
.ChartGL .GL-highlight-rule ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ChartGL .legend-div ul li,
.ChartGL .GL-highlight-rule ul li {
  cursor: pointer;
}
.ChartGL .chartgl-legend {
  position: absolute;
}
.ChartGL .webgl-wrapper,
.ChartGL .webgl-wrapper canvas {
  position: absolute;
}
.ChartGL > canvas,
.ChartGL > .overlay,
.ChartGL .mask {
  position: absolute;
}
.ChartGL > .overlay > path,
.ChartGL .mask > path {
  fill: rgba(40, 40, 40, 0.4);
  stroke-width: 1;
}
.ChartGL > .overlay line,
.ChartGL > .overlay rect,
.ChartGL .mask line,
.ChartGL .mask rect {
  stroke-width: 1;
  stroke: rgb(230, 230, 230);
}
.ChartGL > .overlay line.drag-line,
.ChartGL .mask line.drag-line {
  marker-start: url(#sArrow);
  marker-end: url(#eArrow);
}
.ChartGL > .overlay marker,
.ChartGL .mask marker {
  fill: rgb(230, 230, 230);
}
.ChartGL > .overlay.range-selection .mask > path {
  fill: rgba(40, 40, 40, 0.5);
}
.ChartGL.Light > .tooltip {
  background: #d4d4d4;
  color: black;
}
.ChartGL.Light .chartGLAnnotateControl,
.ChartGL.Light .chartGLExportButtons {
  color: black;
}

.kx-light .ChartGL > .overlay > path,
.kx-light .ChartGL .mask > path {
  fill: rgba(248, 248, 248, 0.5);
}
.kx-light .ChartGL > .overlay line,
.kx-light .ChartGL > .overlay rect,
.kx-light .ChartGL .mask line,
.kx-light .ChartGL .mask rect {
  stroke: rgb(0, 0, 0);
}
.kx-light .ChartGL > .overlay marker,
.kx-light .ChartGL .mask marker {
  fill: rgb(0, 0, 0);
}
.kx-light .ChartGL > .overlay.range-selection .mask > path {
  fill: rgba(248, 248, 248, 0.6);
}
.kx-light .ChartGL > .tooltip {
  background: #d4d4d4;
  color: black;
}

.kx-light > .ChartGL.ui-dialog .ui-widget-content thead,
.kx-light > .ChartGL.ui-dialog .ui-widget-content td {
  border: 1px solid silver;
}
.kx-light > .ChartGL.ui-dialog .ui-widget-content th {
  border-right: 1px solid silver;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFwcC5zY3NzIiwiX2Fubm90YXRlRGlhbG9nLnNjc3MiLCJfdGV4dE5vdGVEaWFsb2cuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQTtFQUlJO0VBQ0E7RUFDQTtFQUNBOztBQ1RKO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFHSjtFQUNJOztBQUdJO0VBQ0k7O0FBR0o7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNJOztBQUVKO0VBQ0k7RUFDQTs7QUFFSjtFQUNJOztBQUVKO0VBQ0k7RUFDQTs7QUFFSjtFQUNJO0VBQ0E7O0FBRUo7RUFDSTs7QUFJUjtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFSjtFQUNJOztBQUVKO0VBQ0k7RUFDQTs7QUFHSjtFQUNJOztBQUlBO0VBQ0c7RUFDQTs7QUFFSDtFQUNJO0VBQ0E7O0FBRUo7RUFDSTs7QUFFSjtFQUNJOztBQUVKO0VBQ0k7O0FBRUE7RUFDSTs7QUFHSjtFQUNJO0VBQ0E7O0FDNUZwQjtFQUNJOztBQUVBO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFSjtFQUNJO0VBQ0E7RUFDQTs7QUFFSjtFQUNJO0VBQ0E7O0FBRUo7RUFDSTs7QUFFSjtFQUNJOztBQUVKO0VBQ0k7RUFDQTs7QUFFSjtFQUNJOztBQUVKO0VBQ0k7O0FGdEJKO0FBQUE7RUFFSTs7QUFHSjtFQUNJO0VBQ0E7RUFDQTs7QUFFQTtFQUNJOztBQUdKO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFDSTs7QUFLWjtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBSUE7RUFDSTs7QUFHSjtFQUNJOztBQUdKO0VBQ0k7RUFDQTtFQUNBOztBQUVBO0VBQ0k7RUFDQTs7QUFHSjtFQUNJO0VBQ0E7O0FBR1I7QUFBQTtBQUFBO0FBQUE7RUFJSTtFQUNBOztBQUlSO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFJQTtFQUNJOztBQUVKO0VBQ0k7RUFDQTtFQUNBOztBQUVKO0VBQ0k7RUFDQTtFQUNBOztBQUVKO0FBQUE7QUFBQTtFQUdJO0VBQ0E7O0FBSVI7RUFDSTs7QUFHSjtBQUFBO0VBRUk7RUFDQTs7QUFFQTtBQUFBO0VBQ0k7O0FBSVI7RUFDSTs7QUFHSjtBQUFBO0FBQUE7QUFBQTtFQUlJOztBQUdKO0FBQUE7RUFFSTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtBQUFBO0VBQ0k7RUFDQTtFQUNBOztBQUNBO0FBQUE7RUFDSTs7QUFLWjtFQUNJOztBQUdKO0FBQUE7RUFFSTs7QUFHSjtBQUFBO0FBQUE7RUFHSTs7QUFLQTtBQUFBO0VBQ0k7RUFDQTs7QUFHSjtBQUFBO0FBQUE7QUFBQTtFQUVJO0VBQ0E7O0FBR0o7QUFBQTtFQUNJO0VBQ0E7O0FBR0o7QUFBQTtFQUNJOztBQUtKO0VBQ0k7O0FBS0o7RUFDSTtFQUNBOztBQUdKO0FBQUE7RUFFSTs7O0FBUUo7QUFBQTtFQUNJOztBQUdKO0FBQUE7QUFBQTtBQUFBO0VBRUk7O0FBR0o7QUFBQTtFQUNJOztBQUtKO0VBQ0k7O0FBSVI7RUFDSTtFQUNBOzs7QUFLSjtBQUFBO0VBRUk7O0FBRUo7RUFDSSIsImZpbGUiOiJhcHAuY3NzIn0= */
