.edit-breadcrumbs-dialog .ui-dialog-content {
  overflow: hidden;
}
.edit-breadcrumbs-dialog .pnlLeft, .edit-breadcrumbs-dialog .pnlRight {
  position: absolute;
  width: 50%;
}
.edit-breadcrumbs-dialog .pnlLeft .spanTitle, .edit-breadcrumbs-dialog .pnlRight .spanTitle {
  padding: 0.7em;
}
.edit-breadcrumbs-dialog .pnlLeft .breadcrumb-help, .edit-breadcrumbs-dialog .pnlRight .breadcrumb-help {
  position: absolute;
  right: 25px;
  top: 5px;
  font-size: 13px;
}
.edit-breadcrumbs-dialog .pnlLeft .breadcrumb-help:hover, .edit-breadcrumbs-dialog .pnlRight .breadcrumb-help:hover {
  color: #48C2FA;
}
.edit-breadcrumbs-dialog .pnlRight {
  left: 50%;
}
.edit-breadcrumbs-dialog .pnlAvailable, .edit-breadcrumbs-dialog .pnlVisible {
  width: 210px;
  height: 300px;
  border: 1px solid #505050;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  list-style: none;
  overflow: auto;
}
.edit-breadcrumbs-dialog .pnlAvailable li, .edit-breadcrumbs-dialog .pnlVisible li {
  display: block;
  border: 1px solid #505050;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 2px;
  background-color: #505050;
  cursor: move;
}
.edit-breadcrumbs-dialog .pnlAvailable li.ui-sortable-helper, .edit-breadcrumbs-dialog .pnlAvailable li.ui-sortable-placeholder, .edit-breadcrumbs-dialog .pnlVisible li.ui-sortable-helper, .edit-breadcrumbs-dialog .pnlVisible li.ui-sortable-placeholder {
  height: auto !important;
}
.edit-breadcrumbs-dialog .pnlAvailable li span .bc-warning, .edit-breadcrumbs-dialog .pnlAvailable li span .bc-empty, .edit-breadcrumbs-dialog .pnlVisible li span .bc-warning, .edit-breadcrumbs-dialog .pnlVisible li span .bc-empty {
  padding: 2px;
  float: right;
}
.edit-breadcrumbs-dialog .pnlAvailable li span .bc-warning, .edit-breadcrumbs-dialog .pnlVisible li span .bc-warning {
  font-size: 13px;
  /* color: #bb9300;*/
}
.edit-breadcrumbs-dialog .pnlAvailable li span .bc-warning:hover, .edit-breadcrumbs-dialog .pnlVisible li span .bc-warning:hover {
  color: #bb9300;
  cursor: default;
}
.edit-breadcrumbs-dialog .pnlAvailable li:hover, .edit-breadcrumbs-dialog .pnlVisible li:hover {
  border: 1px solid #48C2FA;
}

.breadcrumb-container {
  display: inline-block;
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 18px;
  line-height: 40px;
}

.breadcrumb {
  display: inline-block;
  line-height: 15px;
}
.breadcrumb > div {
  position: relative;
  border: 1px solid #505050;
  border-right: none;
  background: #2C2C2C;
  font-family: "Helvetica", "Helvetica Neue", "Segoe UI", sans-serif;
  float: left;
  font-size: 12px;
  margin: -3px -5px 0 0;
  line-height: 11px;
  height: 11px;
  padding: 5px 20px 4px 20px;
  cursor: pointer;
  -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.breadcrumb > div.placeholder {
  border-left-color: transparent;
  cursor: move;
}
.breadcrumb > div.placeholder span {
  opacity: 0.4;
}
.breadcrumb > div > .header {
  text-transform: uppercase;
}
.breadcrumb > div > .close {
  position: absolute;
  top: -1px;
  right: -2px;
}
.breadcrumb > div > .close :before {
  line-height: 1.2em;
}
.breadcrumb > div > .home {
  position: absolute;
  top: -1px;
  left: 0;
  padding-left: 4px;
}
.breadcrumb > div.edit-div {
  margin-left: -10px;
  padding-left: 10px;
}
.breadcrumb > div.edit-div:hover {
  color: #48C2FA;
}
.breadcrumb.ui-sortable-disabled > div.placeholder {
  cursor: default;
}
.breadcrumb > div.home-div {
  margin-left: -10px;
  padding: 5px 0px 4px 10px;
}
.breadcrumb > div:after,
.breadcrumb > div:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.breadcrumb > div:after {
  border-color: rgba(136, 183, 213, 0);
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #2C2C2C;
  border-width: 10px;
  margin-top: -10px;
}
.breadcrumb > div:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #505050;
  border-width: 11px;
  margin-top: -11px;
}
.breadcrumb .breadcrumb-hide {
  display: none;
}

.Light .breadcrumb-app {
  background: transparent;
  color: #000;
}
.Light .breadcrumb-app .breadcrumb > div {
  border-color: #6D6D6D;
  background: #e0e0e0;
  -moz-box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.2);
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.2);
}
.Light .breadcrumb-app .breadcrumb > div:before {
  border-left-color: #6D6D6D;
}
.Light .breadcrumb-app .breadcrumb > div:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #e0e0e0;
}
.Light .breadcrumb-app .breadcrumb > div:last-child:before {
  border-left-color: #2d2d2d;
}
.Light .Breadcrumbs .pnlAvailable li, .Light .Breadcrumbs .pnlVisible li {
  background-color: #c8c8c8;
}

.Dark .breadcrumb-app {
  color: #fff;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9lZGl0QnJlYWRjcnVtYnNEaWFsb2cuc2NzcyIsImFwcC5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNJO0VBQ0k7O0FBRUo7RUFDSTtFQUNBOztBQUNBO0VBQ0k7O0FBRUo7RUFDSTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNJOztBQUlaO0VBQ0k7O0FBRUo7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBR0E7RUFDSTs7QUFLQTtFQUNJO0VBQ0E7O0FBR0o7RUFDSTtBQUNEOztBQUVBO0VBQ0s7RUFDQTs7QUFLWjtFQUNJOzs7QUMzRGhCO0VBQ0M7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOzs7QUFHRDtFQUNJO0VBQ0E7O0FBRUE7RUFDSTtFQUNBO0VBQ0E7RUFDQSxZQXZCbUI7RUF3Qm5CO0VBQ0E7RUFDQTtFQUNBO0VBQ0EsYUE5QlU7RUErQlYsUUEvQlU7RUFnQ1Y7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNJO0VBQ0E7O0FBRUE7RUFDSTs7QUFJUjtFQUNJOztBQUdKO0VBQ0k7RUFDQTtFQUNBOztBQUVBO0VBQ0k7O0FBSVI7RUFDSTtFQUNBO0VBQ0E7RUFDQTs7QUFHSjtFQUNJO0VBQ0E7O0FBRUE7RUFDSTs7QUFNUjtFQUNJOztBQUlSO0VBQ0k7RUFDQTs7QUFHSjtBQUFBO0VBRUk7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFHSjtFQUNJO0VBQ0E7RUFDQSxtQkF0R21CO0VBdUduQjtFQUNBOztBQUdKO0VBQ0k7RUFDQSxtQkE5R2U7RUErR2YsY0FoSFU7RUFpSFY7O0FBR0o7RUFDSTs7O0FBS0o7RUFDSTtFQUNBOztBQUlJO0VBQ0ksY0E5SFk7RUErSFosWUE5SGdCO0VBK0hoQjtFQUNBO0VBQ0E7O0FBRUE7RUFDSSxtQkFySVE7O0FBd0laO0VBQ0k7RUFDQSxtQkF6SVk7O0FBNklaO0VBQ0k7O0FBUVo7RUFDSTs7O0FBT1o7RUFDSSIsImZpbGUiOiJhcHAuY3NzIn0= */
