.chartjs .tools-panel .canvasChartpnlButtons {
  float: right;
  font-size: 13px;
  position: relative;
  z-index: 200;
}
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport {
  /* dividers */
}
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport.link-disabled {
  display: none;
}
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkDownloadScreenshot,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkCsvExport,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkExcelExport,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkFullExport {
  line-height: 20px;
}
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkDownloadScreenshot:hover,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkCsvExport:hover,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkExcelExport:hover,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkFullExport:hover {
  cursor: pointer;
}
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkDownloadScreenshot .export-spinner,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkCsvExport .export-spinner,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkExcelExport .export-spinner,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkFullExport .export-spinner {
  position: absolute;
  right: 2px;
  top: 4px;
  font-size: 10px;
}
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkDownloadScreenshot.export-in-progress,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkCsvExport.export-in-progress,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkExcelExport.export-in-progress,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkFullExport.export-in-progress {
  pointer-events: none;
}
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkDownloadScreenshot.link-disabled,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkCsvExport.link-disabled,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkExcelExport.link-disabled,
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkFullExport.link-disabled {
  display: none;
}
.chartjs .tools-panel .canvasChartpnlButtons span.lnksExport a:not(.link-disabled) ~ a:not(.link-disabled):before {
  display: inline-block;
  content: " | ";
  padding: 0 0.4em 0 0.2em;
}
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport {
  color: #CCC;
}
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkDownloadScreenshot,
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkCsvExport,
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkExcelExport,
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkFullExport {
  color: #CCC;
}
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkDownloadScreenshot:hover,
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkCsvExport:hover,
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkExcelExport:hover,
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkFullExport:hover {
  color: #00AEFF;
}
.chartjs.dark .tools-panel .canvasChartpnlButtons span.lnksExport a:not(.link-disabled) ~ a:not(.link-disabled):before {
  color: #CCC;
}
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport {
  color: #000;
}
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkDownloadScreenshot,
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkCsvExport,
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkExcelExport,
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkFullExport {
  color: #000;
}
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkDownloadScreenshot:hover,
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkCsvExport:hover,
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkExcelExport:hover,
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport a.lnkFullExport:hover {
  color: #00AEFF;
}
.chartjs.light .tools-panel .canvasChartpnlButtons span.lnksExport a:not(.link-disabled) ~ a:not(.link-disabled):before {
  color: #000;
}

.chartjs div[data-componentid=ChartJS] {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.chartjs div[data-componentid=ChartJS] .component-build-view .queryStatus .statusPanel .statusTitle {
  display: block;
}
.chartjs div[data-componentid=ChartJS] .component-build-view .queryStatus .statusPanel .statusText {
  white-space: pre-line;
}
.chartjs .legendItem {
  display: flex;
}
.chartjs .legendText {
  display: inline-block;
}
.chartjs .legendIcon {
  display: inline-block;
}
.chartjs .legendLineBreak {
  min-height: 10px;
}
.chartjs .horizontalLegend {
  display: inline-block;
}
.chartjs .legendSpanbreak {
  display: inline-block;
  width: 30px;
}
.chartjs .tools-panel.dark {
  color: #CCC;
}
.chartjs .tools-panel.dark .icons {
  color: #CCC;
}
.chartjs .tools-panel.light {
  color: #000;
}
.chartjs .tools-panel.light .icons {
  color: #000;
}
.chartjs .tools-panel {
  z-index: 100;
  position: absolute;
  right: 3px;
  line-height: 20px;
}
.chartjs .tools-panel .canvasChartpnlButtons {
  display: inline-block;
}
.chartjs .tools-panel .icons {
  opacity: 0.45;
  font-size: 12px;
  padding: 2px;
  margin: 0px;
  display: inline-block;
}
.chartjs .tools-panel .active {
  opacity: 1;
}
.chartjs .tools-panel .active:hover {
  color: #48C2FA;
  cursor: pointer;
}
.chartjs .tools-panel .pan-tool:hover {
  color: #48C2FA;
  cursor: pointer;
  opacity: 1;
}
.chartjs .tools-panel .hidden1 {
  display: none;
}
.chartjs .tools-panel .hidden {
  display: none;
}
.chartjs .tools-panel.overflow {
  position: absolute;
  display: block;
  right: 2px;
}
.chartjs .chart-legend {
  height: 30px;
  overflow: auto;
  position: absolute;
  bottom: 0;
  z-index: 1000000;
}
.chartjs .chart-legend .strike {
  text-decoration: line-through !important;
}
.chartjs .chart-legend .strike .legendText {
  text-decoration: line-through !important;
}
.chartjs .chart-legend ul {
  padding: 0;
  margin: 0;
}
.chartjs .chart-legend ul li {
  cursor: pointer;
  display: inline-flex;
}
.chartjs .chart-legend ul li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.chartjs .chart-container {
  /*TODO Theme*/
  position: absolute;
  width: 100%;
  height: 100%;
}
.chartjs .chart-container.overflow {
  height: calc(100% - 20px);
  margin-top: 20px;
}
.chartjs .chart-container.light .crosshair {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}
.chartjs .chart-container.light .crosshair-selected {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.6);
}
.chartjs .chart-container .highlight-rules-dialog {
  position: absolute;
  bottom: 0;
}
.chartjs .chart-container .highlight-rules-dialog .highlightRule-menu-item {
  display: inline-block;
}
.chartjs .chart-container .highlight-rules-dialog .highlightRule-menu-item svg {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 4px;
}
.chartjs .chart-container .zoomchart {
  pointer-events: none;
}
.chartjs .chart-container .crosshair {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  pointer-events: none;
  display: none;
  width: 1px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}
.chartjs .chart-container .crosshair .crosshair-arrow {
  display: none;
  position: absolute;
  left: -11px;
  bottom: -10px;
}
.chartjs .chart-container .light .crosshair {
  background-color: rgba(0, 0, 0, 0.6);
}
.chartjs .chart-container .crosshair-selected {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  pointer-events: none;
  display: none;
  width: 1px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}
.chartjs .chart-container .crosshair-selected .crosshair-arrow {
  display: none;
  position: absolute;
  left: -11px;
  bottom: -10px;
}
.chartjs .chart-container .icons {
  user-select: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
.chartjs .chart-container .tooltip {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  pointer-events: none;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  font-size: 12px;
}
.chartjs .chart-container .tooltip table {
  margin: 6px;
  color: #F8F8F8;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: left;
}
.chartjs .chart-container .loader {
  display: none;
  background-color: rgba(255, 255, 255, 0.15);
}
.chartjs .chart-container .active {
  display: block;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9wbmxCdXR0b25zLnNjc3MiLCJhcHAuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFUTtFQUNJO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0FBK0JJOztBQTlCQTtFQUNJOztBQUdKO0FBQUE7QUFBQTtBQUFBO0VBSUksYUNoQkg7O0FEa0JHO0FBQUE7QUFBQTtBQUFBO0VBQ0k7O0FBR0o7QUFBQTtBQUFBO0FBQUE7RUFDSTtFQUNBO0VBQ0E7RUFDQTs7QUFHSjtBQUFBO0FBQUE7QUFBQTtFQUNJOztBQUdKO0FBQUE7QUFBQTtBQUFBO0VBQ0k7O0FBTUo7RUFDSTtFQUNBO0VBQ0E7O0FBT3BCO0VBQ0ksT0NsRGdCOztBRG1EaEI7QUFBQTtBQUFBO0FBQUE7RUFJSSxPQ3ZEWTs7QUR3RFo7QUFBQTtBQUFBO0FBQUE7RUFDSSxPQzNEQzs7QUQrREw7RUFDSSxPQzlEUTs7QURrRXBCO0VBQ0ksT0NsRWlCOztBRG1FakI7QUFBQTtBQUFBO0FBQUE7RUFJSSxPQ3ZFYTs7QUR3RWI7QUFBQTtBQUFBO0FBQUE7RUFDSSxPQzVFQzs7QURnRkw7RUFDSSxPQzlFUzs7O0FBR3JCO0VBQ0k7RUFDQTtFQUNBO0FBQ0E7RUFDQTtFQUNBOztBQUdRO0VBQ0k7O0FBR0o7RUFDSTs7QUFNaEI7RUFDSTs7QUFHSjtFQUNJOztBQUdKO0VBQ0k7O0FBR0o7RUFDSTs7QUFFSjtFQUNJOztBQUVKO0VBQ0k7RUFDQTs7QUFHSjtFQUNJLE9BaERnQjs7QUFpRGhCO0VBQ0ksT0FsRFk7O0FBc0RwQjtFQUNJLE9BdERpQjs7QUF1RGpCO0VBQ0ksT0F4RGE7O0FBMkRyQjtFQUNJO0VBQ0E7RUFDQTtFQUNBLGFBakVTOztBQWtFVDtFQUNJOztBQUdKO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFHSjtFQUNJOztBQUdKO0VBQ0k7RUFDQTs7QUFFSjtFQUNJO0VBQ0E7RUFDQTs7QUFHSjtFQUNJOztBQUdKO0VBQ0k7O0FBSVI7RUFDSTtFQUNBO0VBQ0E7O0FBSUo7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0k7O0FBQ0E7RUFDSTs7QUFHUjtFQUNJO0VBQ0E7O0FBQ0E7RUFDSTtFQUNBOztBQUVBO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7O0FBT2hCO0FBQ0E7RUFFSTtFQUNBO0VBQ0E7O0FBRUE7RUFDSTtFQUNBOztBQU1BO0VBQ0k7RUFDQTs7QUFFSjtFQUNJO0VBQ0E7O0FBSVo7RUFDSTtFQUNBOztBQUVBO0VBQ0k7O0FBQ0E7RUFDSTtFQUNBO0VBQ0E7RUFDQTs7QUFLWjtFQUNJOztBQUdKO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFDSTtFQUNBO0VBQ0E7RUFDQTs7QUFLSjtFQUNJOztBQUlSO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFDSTtFQUNBO0VBQ0E7RUFDQTs7QUFNUjtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBR0o7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFHSTtFQUNJO0VBQ0E7RUFDQTtFQUVBOztBQUtaO0VBQ0k7RUFDQTs7QUFHSjtFQUNJIiwiZmlsZSI6ImFwcC5jc3MifQ== */
